<div class="container">
    <h2>Extensiones</h2>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a  (click)="exportPdf()" class="btn " type="button"><i class="text-danger fa-solid fa-file-pdf"></i></a>
      <a   (click)="exportXlsx()" class="btn " type="button"><i class="text-success fa-regular fa-file-excel"></i></a>
      <a  class="btn " type="button"><i class=" text-secondary fa-solid fa-file-csv"></i></a>
      <a *ngIf="user.rol.includes('CRATE_EXTENSION')" routerLink="nuevo" class="btn btn-primary" type="button"><i class="fa-solid fa-plus fs-4 text mltr-3"></i>Nuevo</a>
     

      
    </div>
    <table class="table">
        <thead>
          <tr>
            
            <th scope="col">Extensión</th>
            <th scope="col">Nombre</th>
            <th scope="col">Puesto</th>
            <th scope="col">Correo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
            @for (extension of extensiones; track $index) {
                <tr>
                    
                    <td>{{extension.extension}}</td>
                    <td>{{extension.nombre}}</td>
                    <td>{{extension.puesto_departamento}}</td>
                    <td>{{extension.correo}}</td>
                    <td>
                      
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button *ngIf="user.rol.includes('UPDATE_EXTENSION')"    (click)="editar(extension)"  type="button" class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></button>
                        <button *ngIf="user.rol.includes('DELETE_EXTENSION')"    (click)="remove(extension._id)" type="button" class="btn btn-primary"><i class="fa-regular fa-trash-can"></i></button>
                        <button type="button" class="btn btn-primary"><i class="fa-regular fa-eye"></i></button>
                      </div></td>
                  </tr>
            }
         
        </tbody>
      </table>

     
</div>